@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');

body {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
  background-color: #0d1117;
  color: #c9d1d9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.code-editor-cont{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-editor {
  background-color: #161b22; 
  border: 1px solid #30363d; 
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

.editor-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-input {
  background-color: #0d1117; 
  color: #c9d1d9; 
  border: 1px solid #30363d;
  border-radius: 8px;
  padding: 10px;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}

.code-input {
  background-color: #0d1117;
  color: #c9d1d9; 
  border: 1px solid #30363d;
  border-radius: 8px;
  width: 100%;
  height: 300px; 
  padding: 10px;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  resize: none; 
}

.submit-button {
  background-color: #238636; 
  color: #c9d1d9;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #2ea043; 
}

.all-notes {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffffff; 
  color: #000000;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.all-notes:hover {
  background-color: #0d1117; 
  color: white;
}

.notes-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.note-block {
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 8px;
  padding: 20px;
  position: relative;
}

.note-title {
  font-size: 1.5rem;
  color: #58a6ff;
}

.note-content {
  background-color: #0d1117;
  color: #c9d1d9;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.delete {
  position: absolute;
  right: 4px;
  bottom: 4px;
  border: 1px solid red;
  border-radius: 10px;
  background: none;
  cursor: pointer;
  color: rgb(129, 0, 0);
  transition: all 250ms ease;
  padding: 4px;
}

.delete:hover {
  border: 1px solid rgb(255, 0, 0);
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}

.copy {
  position: absolute;
  left: 4px;
  bottom: 4px;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  background: none;
  cursor: pointer;
  transition: all 250ms ease;
  padding: 4px;
}

.copy:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(59, 59, 59);
}
